 {{!-- loai hang hoa  --}}
    <div class="sidebar sidebar_typeOfGoods  mb-3">
        <div class="accordion" id="accordionType">
            <div class="accordion-item">
                <h2 class="accordion-header" id="S_typeOfGoods">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_typeOfGoods" aria-expanded="true" aria-controls="collapse_typeOfGoods">
                    Loại hàng hóa
                </button>
                </h2>
                <div id="collapse_typeOfGoods" class="accordion-collapse collapse show" aria-labelledby="S_typeOfGoods" data-bs-parent="#accordionType">
                    <div class="accordion-body">
                      
                        {{!-- hang hoa  --}}
                        <div class="form-check">
                            <input class="form-check-input checkbox_typeOfGoods" type="checkbox" name="typeOfGoods[]" value="goods" id="checkbox_filter_goods" checked>
                            <label class="form-check-label" for="checkbox_filter_goods">
                                Hàng hóa
                            </label>
                        </div>
                        {{!-- hang hoa  --}}
                        <div class="form-check">
                            <input class="form-check-input checkbox_typeOfGoods" type="checkbox" name="typeOfGoods[]" value="service" id="checkbox_filter_service" checked>
                            <label class="form-check-label" for="checkbox_filter_service">
                                Dịch vụ
                            </label>
                        </div>
                        {{!-- hang hoa  --}}
                        <div class="form-check">
                            <input class="form-check-input checkbox_typeOfGoods" type="checkbox" name="typeOfGoods[]" value="combo" id="checkbox_filter_combo" checked>
                            <label class="form-check-label" for="checkbox_filter_combo">
                                Combo - đóng gói
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    {{!-- script bo loc  --}}
    <script>
        var formFilter = $('#form-filter');
        var checkbox_typeOfGoods = $('.checkbox_typeOfGoods');
        checkbox_typeOfGoods.change(function(){

            formFilter.action = 'action="{{module_path}}"'
            formFilter.submit();
        });
        var filterValue = '{{filter.typeOfGoodsId}}';

        //checkbox cac gia tri da chon
        var filterValueSlit = filterValue.split(",");
         //bo check tat ca 
        if(filterValueSlit){
            $('.checkbox_typeOfGoods').prop('checked',false)
        }
        var i;
        for (i = 0; i < filterValueSlit.length; i++) {
            document.getElementById('checkbox_filter_'+filterValueSlit[i]).checked = true;
        } 
        
    </script>