<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        .gradient-custom-2 {
            background: #2a7dc2;
            background: -webkit-linear-gradient(to right, #2a7dc1, #2676bc, #2a7ec3, #40a5e5);
            background: linear-gradient(to right, #2a7dc1, #2676bc, #2a7ec3, #40a5e5);
        }

        @media (min-width: 768px) {
        .gradient-form {
            height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
        }
    </style>
</head>
<body>

    <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                    <img class="mt-1 mb-5 py-2" src="/img/framework/logo.png" style="width: 185px;" alt="logo">
                    </div>
                    {{#if sessionFlash.message}}
                            <div class="{{ sessionFlash.type }} alert alert-danger" role="alert">
                                {{sessionFlash.message}}
                            </div>
                    {{/if}}
                    <form method="POST" action="{{urlLogin}}">
                        <p>Đăng nhập tài khoản</p>

                        <div class="form-outline mb-4">
                            <input type="text" name="username" class="form-control" placeholder="Tài khoản"/>
                            <label class="form-label" >Tài khoản</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name="password" class="form-control" placeholder="Mật khẩu"/>
                            <label class="form-label">Mật khẩu</label>
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Đăng nhập</button>
                            {{!-- <a class="text-muted" href="#!">Forgot password?</a> --}}
                        </div>

                        {{!-- <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <button type="button" class="btn btn-outline-danger">Create new</button>
                        </div> --}}

                    </form>

                </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Công ty TNHH WebUX</h4>
                    <p class="small mb-0">
                        <ul>
                            <li>Tư vấn chu đáo và sát với yêu cầu</li>
                            <li>Luôn đặt lợi ích khách hàng lên trên</li>
                            <li>Hỗ trợ khách hàng nhanh chóng và nhiệt tình</li>
                            <li>Bảo đảm sản phẩm chất lượng tốt nhất</li>
                            <li>Dịch vụ uy tín và bảo hành lâu dài</li>
                            <li>Hỗ trợ: 0966 130 168</li>
                        </ul>
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

</body>
</html>
