<h1>dsf</h1>

<div class="container"> 
    <div class="row">
        <div class="col">
            <form action="regis" method="POST">
                <input type="text" name="username" id="">
                <input type="email" name="email" id="">
                <input type="password" name="password" id="">
                <input type="tex" name="roles[]" >
                <button type="submit">Gui</button>
            </form>

        </div>
        
    </div>
</div>