

<form action="{{module_function_path}}/store" method="POST">
    <div class="container">
           <div class="row">
               <div class="col-md-6">
                   <!-- ten  -->
                    <div class="form-group mb-3">
                        <label >Tên {{module_name}}</label>
                        <input type="text" class="form-control"  placeholder="Bạn điền tên {{module_name}}" name="name" required>
                    </div>
             
                    <div class="form-group mb-3">
                        <label for="name_cat_seo">Trạng thái</label>
                        <select name="status" class="form-select" required>
                            <option value="on" selected>Công khai</option>
                            <option value="off">Khóa</option>
                        </select>
                    </div>
                    
                    <div class="form-group mb-3 child_group">
                        <label >Loại (tùy chọn nâng cao)</label>
                        <input type="text" class="form-control"  name="type" required id="input_type">
                    </div>
                
                    <div class=" my-3">
                        <button type="submit"  class="btn btn-primary mr-3">Lưu</button>
                        <a class="btn btn-danger" href="{{module_function_path}}">Hủy và quay lại</a>
                    </div>
               </div>
            </div>
    </div>
    
</form>